/*
========================================
 Chức năng: Định dạng giao diện chân trang (footer) cho toàn bộ hệ thống
========================================
*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f1f1f1;
  text-align: center;
  padding: 10px 0;
}
